# Ignore venv
venv/
.venv/
# Ignore .vscode
.vscode/

__pycache__/
*.pyc

maze_project/data/logs/
maze_project/data/logs_augmented
maze_project/data/models

maze_project/data/mazes_heading/
maze_project/data/logs_heading/
maze_project/data/logs_heading_augmented/

repomix-output.txt
